<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="nav">
      <div class="nav__logo">Benjaminlee</div>
      <div class="nav__menu_items">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <div class="hero-left flow">
        <h1 class="hero__text">
          turning ideas into real life
          <span class="hero__text_gradient">products</span> is my calling.
        </h1>
        <button class="cta-button">View my works</button>
      </div>

      <div class="img-container">
        <img src="/static/img/bg-hero.svg" class="hero-img" alt="" />
      </div>
    </div>
    <div class="bio-section">
      <p>
        Hey stranger! 👋, My name is Benjamin i am a fullstack devloper,
        passionate about digital products that help people experiance everyday
        life.
      </p>
    </div>
  </body>
</html>
